.gallery {
  position: relative;
}

.gallery__item {
  aspect-ratio: 16/14.2;
  color: #FFF;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__img {
    position: absolute;
    z-index: -4;
    object-fit: cover;

    img {
      width: 100%;
    }
  }

  &__header,
  &__content {
    width: 65%;
    padding-right: 4rem;
  }

  &__header {
    margin-bottom: 1rem;
    padding-top: 3.5rem;

    h2 {
      font-size: 5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
    }

    span {
      font-weight: 600;
    }
  }
}

.gallery__circles {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 12rem;
  left: calc(50% - 46px);

  svg {
    font-size: .8rem;
    fill: #FFF;
  }

  svg:first-child {
    fill: var(--lima);
  }
}

.gallery__controls {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 58px);

  &__back {
    svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    svg {
      background: var(--lima);
    }
  }

  &__back,
  &__next {
    font-size: 5.4rem;

    svg {
      border-radius: 50%;
      fill: #FFF;
    }
  }
}

.rackets {
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(3, 288px);
  padding: 3rem;


  &__item {
    position: relative;

    &__number {
      color: #FFF;
      background: var(--lima);
      padding: .5rem 1rem;
      border-radius: 50%;
      position: absolute;
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }
}