.home__hero {
  background-image: url('../../assets/images/group-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding-left: 17.3rem;
  padding-top: 17.5rem;
  color: #FFF;

  &__line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 10.5rem;
    top: 0;
    background-color: #fff;
  }

  &__logo {
    position: absolute;
    top: 2.5rem;
    left: 3.6rem;
  }

  &__title {
    font-size: 5.3rem;
    font-weight: 400;
    margin-bottom: 2.4rem;
    width: 60%;

    span {
      color: var(--lima);
    }
  }

  &__button {
    padding: 1.5rem 2.8rem;
    border-radius: 26.5px;
    border: solid 1px #fff;
    display: flex;
    align-items: center;

    svg {
      font-size: 2.2rem;
      margin-left: 0.5rem;
    }
  }
}