.header__navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  padding-left: 17.3rem;
  padding-top: 4.4rem;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
  }
}