.products {
  padding: 4rem 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  &__subtitle {
    font-size: 1.5rem;
    color: var(--lima);
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    font-size: 1.3rem;
    padding: 1.5rem 2.8rem;
    border-radius: 2.65rem;
    border: solid 1px #000;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 2.2rem;
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .products {
    display: grid;
    gap: 5.1rem;
    grid-template-columns: repeat(3, 1fr);

    &__subtitle {
      justify-self: end;
    }

    &__title {
      h2 {
        font-size: 5rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    &__button {
      align-self: end;
      justify-self: start;
    }
  }
}