.home__hero {
  background-image: url('../../../../assets/images/group-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding-top: 14rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  color: #FFF;


  &__logo {
    position: absolute;
    top: 2.5rem;
    left: 3.6rem;
  }

  &__title {
    font-size: 3.3rem;
    font-weight: 400;
    margin-bottom: 2.4rem;

    span {
      color: var(--lima);
    }
  }

  &__button {
    padding: 1.5rem 2.8rem;
    border-radius: 2.65rem;
    border: solid 1px #fff;
    display: flex;
    align-items: center;

    svg {
      font-size: 2.2rem;
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .home__hero {
    padding-left: 17.3rem;
    padding-top: 17.5rem;

    &__line {
      width: 2px;
      height: 100%;
      position: absolute;
      left: 10.5rem;
      top: 0;
      background-color: #fff;
    }

    &__title {
      font-size: 5.3rem;
      width: 80%;
    }
  }
}